#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NUMBERS 1
#define CONTROLS 2
#define QWERTY 3

/ {
    combos {
        compatible = "zmk,combos";
    };

    keymap {
        compatible = "zmk,keymap";

        Base_layer {
            bindings = <
           &none     &kp ESCAPE  &kp LEFT_ALT  &kp LEFT_CONTROL      &kp P           &kp Y            &kp F       &kp G         &kp C  &kp R  &kp L    &none
&kp LEFT_CONTROL          &kp A         &kp E             &kp I      &kp O           &kp U            &kp D       &kp H         &kp T  &kp N  &kp S  &kp DEL
           &none  &kp LEFT_META         &kp Q             &kp J      &kp K           &kp X            &kp B       &kp M         &kp W  &kp V  &kp Z  &kp DOT
                                                    &mo NUMBERS  &kp SPACE  &kp LEFT_SHIFT    &kp BACKSPACE  &kp RETURN  &mo CONTROLS
            >;
        };

        Numbers_layer {
            bindings = <
 &none  &kp EXCLAMATION   &kp AT_SIGN      &kp HASH    &kp DOLLAR   &kp PERCENT       &kp CARET  &kp AMPERSAND  &kp ASTERISK         &none         &none   &none
 &none     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &kp NUMBER_6   &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &kp F1
&kp F2           &kp F3        &kp F4        &kp F5        &kp F6        &kp F7          &kp F8         &kp F9       &kp F10       &kp F11       &kp F12   &none
                                              &none         &none         &none           &none          &none
            >;
        };

        Controls_layer {
            bindings = <
&none             &none           &none                 &none      &none             &none            &kp SEMICOLON        &kp COMMA            &kp DOT     &none      &none  &none
&none             &none           &none                 &none  &kp GRAVE  &kp SINGLE_QUOTE        &kp DOUBLE_QUOTES         &kp LEFT             &kp UP  &kp DOWN  &kp RIGHT  &none
&none  &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS     &kp LT            &kp GT    &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET     &none      &none  &none
                                                        &none      &none             &none                    &none            &none
            >;
        };

        QWERTY_layer {
            bindings = <
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                     &none  &none  &none    &none  &none
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
